<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB6TyNZD4cY-Umj_SEy03kOXsIbO8b_34</string>
	<key>GCM_SENDER_ID</key>
	<string>112688536438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryDemoApp</string>
	<key>PROJECT_ID</key>
	<string>diary-demo-app-53793</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-demo-app-53793.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112688536438:ios:200504de0fbb598f7bb857</string>
</dict>
</plist>